@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

/* Variáveis*/
:root {
    --cor-um: #f1f3fa;
    --cor-dois: #0a3871;
    --cor-tres: #495057;
    --cor-quatro: #fff;
    --cor-cinco: #343a40;
    --cor-seis: #d8dfe8;
    --fonte-primaria: 'Inter', sans-serif; 
    --fonte-secundaria: 'Inter', bold;
}

*{
    margin: 0;
    padding: 0;
    border: 0;
}
.logo {
    margin-top: 2%;
}

body {
    width: 100%;
    height: 100vh;                        
    box-sizing: border-box;                
    background-color: var(--cor-um);     
}
   
.cabecalho {  
    width: 100%;
    margin-top: -2%;
    padding: 2% 0% 0% 8.7%;     
}

.cabecalho__titulo {
    display: flex;
    font-family: var(--fonte-primaria);
    font-size: 1.5rem; 
    font-weight: 600;
    color: var(--cor-dois);    
}

.input{
    position: relative;   
    width: 100vw;
    height: 74vh;
    background-color: var(--cor-um);
}

.input__criptografar__texto {
    position: absolute;
    width: 30%;
    height: 50%;
    left: 9%;
    top: 9%;
    border: none;
    font-family: var(--fonte-primaria);
    font-style: normal;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 150%;
    padding: 8px;
    background-color:var(--cor-quatro);    
}

.input__criptografar__texto::placeholder{
    color: var(--cor-dois);  
}

.input__criptografar__texto:focus,
.input__criptografar__texto:active{
    border: none;
    outline: none;
}

.input__exigencias {       
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 8px;
    position: absolute;
    width: 80%;
    left: 3%;
    top: 70%;
}

.input__exigencias__texto {   
    font-family: var(--fonte-primaria);
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 150%;
    color: var(--cor-tres);
    opacity: 0.8;
    flex: none;
    order: 1;
    flex-grow: 0;
}

strong {
    background-color: black;
    border-radius: 50%;
    width: 5px;
    height: 5px;
    font-size: 1rem;
    padding: 0 7px 0 7px;
    color:whitesmoke;
    
}

.input__botoes{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 1% 0%;
    position: absolute;
    width: 80%;
    left: 3%;
    top: 76%;
    gap: 15px;
    font-size: 18px;
}

.input__botoes__btn-criptografar {
    align-items: center;
    justify-content: center;
    padding: 2%;
    gap: 8px;
    width: 25%;
    background-color: var(--cor-dois);
    border-radius: 24px;
    font-family: var(--fonte-primaria);   
    line-height: 19px;
    text-align: center;
    color: var(--cor-quatro);
}

.input__botoes__btn-descriptografar {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 2%;
    gap: 8px;
    width: 25%;
    background: var(--cor-seis);
    border: 1px solid var(--cor-dois);
    border-radius: 24px;
    font-family: var(--fonte-primaria);
    font-weight: 400;    
    line-height: 19px;
    text-align: center;
    color: var(--cor-dois);
}

.input__botoes__btn-copiar {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 2%;
    gap: 8px;
    width: 25%;
    background: var(--cor-seis);
    border: 1px solid var(--cor-dois);
    border-radius: 24px;
    font-family: var(--fonte-primaria);
    font-weight: 400;    
    line-height: 19px;
    text-align: center;
    color: var(--cor-dois);
}

.input__botoes__btn-criptografar:hover,
.input__botoes__btn-descriptografar:hover,
.input__botoes__btn-copiar:hover {
    margin: 0.3%;
    width: 24.5%;
    pad: 1.8%;    
}

.mensagens {
    display: flex;
    justify-content: center;
    position: absolute;
    width: 25%;
    height: 85%;
    left: 68%;
    top: 2%;
    background: var(--cor-quatro);
    box-shadow: 0px 24px 32px -8px gba(0, 0, 0, 0.08);
    border-radius: 32px;
}
.mensagens__mensagem-criptografada {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1%;
    gap: 16px;
    position: absolute;
    width: 100%;
    top: 65%;
    text-align: center;
}

#titulo-mensagem {
    width: 60%;
    font-family: var(--fonte-primaria);
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;
    text-align: center;
    color: var(--cor-cinco);
}

#texto-mensagem {
    width: 80%;
    font-family: var(--fonte-primaria);
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    color: var(--cor-tres);
}

.mensagens__imagem {
    position: absolute;
    width: 80%;
    height: 50%;
    top: 10%;
}

.rodape {
    width: 100%;
    background-color: var(--cor-dois);
    padding: 5px;
}

.rodape__texto {
    display: flex;
    justify-content: center;
    font-family: var(--fonte-primaria);
    font-size: 18px;
    color: var(--cor-seis);
    padding-top: 1.1%;
}

/* Responsividade */
@media (max-width: 57.5em) {
    .cabecalho {        
        padding: 10%;        
    }  
    
    .cabecalho__titulo {
        margin-top: -2%;
        justify-content: center;
    }
    
    .input {
        display: flex;        
        flex-direction: row;
    }

    .input__criptografar {
        width: 100%;        
    }

    .input__criptografar__texto {
        width: 80%;
        height: 45%;
        left: 10%;
        top: 0%;
    }

    .input__exigencias {
        width: 80%;
        left: 10%;
        top: 50%;
        
    }

    .input__exigencias__texto {
        font-size: 13px;
    }
    strong {
        font-size: 13px;
    }
    .input__botoes {
        width: 80%;
        left: 10%;
        top: 56%;
        font-size: 13px;
    }

    .input__botoes__btn-criptografar,
    .input__botoes__btn-descriptografar,
    .input__botoes__btn-copiar {
        width: 48%;
        border-radius: 16px;
    }

    .input__botoes__btn-criptografar:hover,
    .input__botoes__btn-descriptografar:hover,
    .input__botoes__btn-copiar:hover {
        margin: 0.3%;
        width: 47.5%;
        padding: 1.8%;
    }

    .mensagens {
        width: 80%;
        height: 15%;
        left: 10%;
        top: 70%;
        font-size: 1rem;
    }

    .mensagens__mensagem-criptografada {
        width: 100%;
        top: 5%;
    }

    #titulo-mensagem {        
        font-size: 16px;        
    }
    
    #texto-mensagem {              
        font-size: 13px;        
    }

    .mensagens__imagem {
        top: 0;
        display: none;
        visibility: hidden;
    }

}
